.toast {
  position: relative;
  display: flex;
  align-items: center;
  gap: 16px;
  border-radius: 16px;
  color: black;
  color-scheme: light;
  background: white;
  max-width: 100%;
  width: 350px;
  overflow: hidden;
  box-shadow: var(--shadow-elevation-medium);
}

.countdown {
  --duration: 5000ms;
  position: absolute;
  top: 0;
  height: 8px;
  right: 0;
  animation: var(--duration) shrink linear forwards;
  border-radius: 8px;
}

@keyframes shrink {
  0% {
    width: 100%;
  } 

  100% {
    width: 0;
  }
}

.content {
  flex: 1;
  padding: 12px 0px;
  font-weight: 600;
}

.iconContainer {
  flex-shrink: 0;
  padding: 16px;
  padding-right: 0px;
}
.iconContainer svg {
  display: block;
}

.title {
  font-weight: 700;
  margin-bottom: 4px;
}

.closeButton {
  flex-shrink: 0;
  border: none;
  background: transparent;
  padding: 16px;
  cursor: pointer;
}

.notice {
  background: var(--color-notice-bg);
}
.notice .iconContainer {
  color: var(--color-notice);
}
.notice .countdown {
  background-color: var(--color-notice-countdown)
}
.warning {
  background: var(--color-warning-bg);
}
.warning .iconContainer {
  color: var(--color-warning);
}
.warning .countdown {
  background-color: var(--color-warning-countdown)
}
.success {
  background: var(--color-success-bg);
}
.success .iconContainer {
  color: var(--color-success);
}
.success .countdown {
  background-color: var(--color-success-countdown)
}
.error {
  background: var(--color-error-bg);
}
.error .iconContainer {
  color: var(--color-error);
}
.error .countdown {
  background-color: var(--color-error-countdown)
}
